﻿@{
	ViewData["Title"] = "Home Page";
	Layout = "_MyLayout";
	@model List<Pizza>
}

<h1 class="text-center mt-4">La mia pizzeria</h1>
<div class="d-flex justify-content-center flex-wrap gap-3 my-5">
@{
	// Model.Clear(); // test empty list
	if (Model.Count > 0)
	{
		foreach (Pizza pizza in Model)
		{
			<a asp-action="Show" asp-route-id="@pizza.Id" class="text-decoration-none">
				<div class="card glass h-100" style="width: 18rem;">
					<img src="@Url.Content(pizza.Image)" class="card-img-top" alt="...">
					<div class="card-body">
						<div class="d-flex align-items-center gap-2 mb-3">
							<h5 class="card-title m-0">@pizza.Name</h5>
							<span class="badge rounded-pill @("text-bg-" + (pizza.Category?.Color ?? "secondary d-none"))">@(pizza.Category?.Name ?? "")</span>
						</div>
						<p class="card-text">@pizza.Description</p>
					</div>
					<ul class="list-group list-group-flush fa-ul">
						<li class="list-group-item bg-transparent"><span class="fa-li"><i class="fa-solid fa-coins"></i></span>@pizza.Price</li>
					</ul>
				</div>
			</a>
					
		}
	} else
	{
		<div class="alert alert-danger">Questo locale non ha nessuna pizza.</div>
	}
}
</div>
